In [ ]:
from sqlalchemy import create_engine , text ,Table , Column , Integer , String , MetaData

In [ ]:
#mysql+pymysql://username:password@host:port/database
engine = create_engine("mysql+pymysql://root:1234@localhost:3306/okay",echo=True)

In [ ]:
conn=engine.connect()
conn.begin() # begin is used to manitain atomicity as error happens it rollback automaically and if no error then commit automatically
result = conn.execute(text("show tables"))
for row in result:
    print(row)
conn.close()

In [ ]:
engine = create_engine('mysql+pymysql://root:1234@localhost',echo=True)
conn=engine.connect()
conn.begin()

In [ ]:
conn.execute(text("create database sqlalchemy"))
conn.execute(text("use sqlalchemy"))
conn.execute(text("create table user (id int primary key , name varchar(50) , age int )"))
conn.execute(text("insert into user values (1,'shreeram', 25)"))
conn.commit()
conn.execute(text("delete from user where id = 1"))
conn.commit()
conn.close()

In [ ]:
engine = create_engine('mysql+pymysql://root:1234@localhost:3306/sqlalchemy',echo=True)
conn = engine.connect()
conn.begin()

In [ ]:
meta =MetaData()
student = Table('student', meta, 
                Column('id',Integer,primary_key=True),
                Column('name',String(50)),
                Column('age',Integer))
meta.create_all(engine)

In [ ]:
insert = student.insert().values(name='Shreeram', age=21)
result = conn.execute(insert)
conn.commit()