In [2]:
from sqlalchemy import create_engine,text

In [3]:
engine = create_engine('sqlite:///mydatabase.db',echo=True)

In [5]:
conn = engine.connect()

In [6]:
conn.execute(text("create table if not exists users (id integer primary key autoincrement, name text, email text)"))
conn.commit()

2026-02-17 21:03:01,917 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2026-02-17 21:03:01,920 INFO sqlalchemy.engine.Engine create table if not exists users (id integer primary key autoincrement, name text, email text)
2026-02-17 21:03:01,921 INFO sqlalchemy.engine.Engine [generated in 0.00449s] ()
2026-02-17 21:03:01,923 INFO sqlalchemy.engine.Engine COMMIT

In [7]:
#mysql+pymysql://username:password@host:port/database
engine1 = create_engine("mysql+pymysql://root:1234@localhost:3306/okay",echo=True)

In [8]:
conn1=engine1.connect()
result = conn1.execute(text("show tables"))
for row in result:
    print(row)

2026-02-17 21:03:07,206 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2026-02-17 21:03:07,208 INFO sqlalchemy.engine.Engine [raw sql] {}
2026-02-17 21:03:07,218 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2026-02-17 21:03:07,220 INFO sqlalchemy.engine.Engine [raw sql] {}
2026-02-17 21:03:07,224 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2026-02-17 21:03:07,226 INFO sqlalchemy.engine.Engine [raw sql] {}
2026-02-17 21:03:07,236 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2026-02-17 21:03:07,239 INFO sqlalchemy.engine.Engine show tables
2026-02-17 21:03:07,241 INFO sqlalchemy.engine.Engine [generated in 0.00518s] {}
('employees',)
('student',)