In [2]:
from sqlalchemy import create_engine,text

In [3]:
engine = create_engine('sqlite:///mydatabase.db',echo=True)

In [4]:
conn = engine.connect()

In [5]:
conn.execute(text("create table if not exists users (id integer primary key autoincrement, name text, email text)"))
conn.commit()

2026-02-19 13:37:40,821 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2026-02-19 13:37:40,824 INFO sqlalchemy.engine.Engine create table if not exists users (id integer primary key autoincrement, name text, email text)
2026-02-19 13:37:40,825 INFO sqlalchemy.engine.Engine [generated in 0.00481s] ()
2026-02-19 13:37:40,829 INFO sqlalchemy.engine.Engine COMMIT

In [6]:
#mysql+pymysql://username:password@host:port/database
engine1 = create_engine("mysql+pymysql://root:1234@localhost:3306/okay",echo=True)

In [ ]:
conn1=engine1.connect()
conn1.begin() # begin is used to manitain atomicity as error happens it rollback automaically and if no error then commit automatically
result = conn1.execute(text("show tables"))
for row in result:
    print(row)
conn1.close()

2026-02-19 13:38:30,764 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2026-02-19 13:38:30,768 INFO sqlalchemy.engine.Engine show tables
2026-02-19 13:38:30,771 INFO sqlalchemy.engine.Engine [cached since 49.06s ago] {}
('employees',)
('student',)
2026-02-19 13:38:30,781 INFO sqlalchemy.engine.Engine ROLLBACK

In [19]:
engine = create_engine('mysql+pymysql://root:1234@localhost',echo=True)
conn=engine.connect()
conn.begin()

2026-02-19 16:11:02,719 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2026-02-19 16:11:02,721 INFO sqlalchemy.engine.Engine [raw sql] {}
2026-02-19 16:11:02,730 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2026-02-19 16:11:02,732 INFO sqlalchemy.engine.Engine [raw sql] {}
2026-02-19 16:11:02,734 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2026-02-19 16:11:02,736 INFO sqlalchemy.engine.Engine [raw sql] {}
2026-02-19 16:11:02,742 INFO sqlalchemy.engine.Engine BEGIN (implicit)

In [ ]:
conn.execute(text("create database sqlalchemy"))
conn.execute(text("use sqlalchemy"))
conn.execute(text("create table user (id int primary key , name varchar(50) , age int )"))
conn.execute(text("insert into user values (1,'shreeram', 25)"))
conn.close()

2026-02-19 16:11:47,253 INFO sqlalchemy.engine.Engine use sqlalchemy
2026-02-19 16:11:47,257 INFO sqlalchemy.engine.Engine [generated in 0.00453s] {}
2026-02-19 16:11:47,261 INFO sqlalchemy.engine.Engine insert into user values (1,'shreeram', 25)
2026-02-19 16:11:47,263 INFO sqlalchemy.engine.Engine [cached since 15.47s ago] {}
2026-02-19 16:11:47,279 INFO sqlalchemy.engine.Engine ROLLBACK