## Core Components

The SQLAlchemy Core provides a foundation for managing connectivity and programmatically constructing SQL statements. 

Key components to learn include: 

Engine: The starting point for any SQLAlchemy application, serving as the central hub for all database interactions and managing connection pools and database-specific dialects.

Connection: Represents an active DBAPI connection to the database, through which SQL statements are executed.

MetaData: A container object that collects information about a database schema, including tables, columns, and constraints, enabling you to define and introspect database structures in Python code.

SQL Expression Language: A flexible and powerful way to construct SQL queries using Python constructs, which is ideal if you need fine-grained control over the generated SQL. 

## ORM Components

The ORM builds upon the Core, abstracting database interactions so you can work with Python objects instead of raw SQL. Essential components include: 

Declarative Base / Models: A base class (often created using declarative_base or the modern declarative system) from which your Python classes inherit, allowing SQLAlchemy to map them to database tables.

Session: A "staging zone" or workspace that acts as the primary interface for persistence operations, managing transactions and object tracking (e.g., adding, updating, and deleting records).

Querying: Learning how to use the session and its methods (like query() or the modern select() function in 2.0 style) to retrieve data, apply filters, perform joins, and order results using Pythonic syntax.

Relationships: Understanding how to define and work with relationships between models (one-to-many, many-to-many) using constructs like relationship() and ForeignKey, including 
advanced topics like eager loading and cascade strategies. 

## Additional Topics

Beyond the core components, mastering these concepts will enhance your skills:

Connection Pooling: How SQLAlchemy efficiently reuses database connections to improve performance.

Transaction Management: Ensuring data consistency and integrity by managing commit() and rollback() operations.

Alembic: A separate tool that integrates with SQLAlchemy for managing database schema migrations over time.

Performance Optimization: Techniques like minimizing database round trips, using bulk operations, and analyzing query performance

In [ ]:
from sqlalchemy import create_engine , text ,Table , Column , Integer , String , MetaData ,bindparam , and_,or_

In [2]:
#mysql+pymysql://username:password@host:port/database
engine = create_engine("mysql+pymysql://root:1234@localhost:3306/okay",echo=True)

In [ ]:
conn=engine.connect()
conn.begin() # begin is used to manitain atomicity as error happens it rollback automaically and if no error then commit automatically
result = conn.execute(text("show tables"))
for row in result:
    print(row)
conn.close()

In [ ]:
engine = create_engine('mysql+pymysql://root:1234@localhost',echo=True)
conn=engine.connect()
conn.begin()

In [ ]:
'''conn.execute(text("create database sqlalchemy"))
conn.execute(text("use sqlalchemy"))
conn.execute(text("create table user (id int primary key , name varchar(50) , age int )"))
conn.execute(text("insert into user values (1,'shreeram', 25)"))
conn.commit()
conn.execute(text("delete from user where id = 1"))
conn.commit()
conn.close()'''

In [ ]:
engine = create_engine('mysql+pymysql://root:1234@localhost:3306/sqlalchemy',echo=True)
conn = engine.connect()
conn.begin()

In [ ]:
meta =MetaData()
student = Table('student', meta, 
                Column('id',Integer,primary_key=True),
                Column('name',String(50)),
                Column('age',Integer))
meta.create_all(engine)

In [ ]:
#insert = student.insert().values(name='Shreeram', age=21)
#result = conn.execute(insert)
conn.commit()
select = student.select().where(student.c.id ==1)
result = conn.execute(select)
row = result.fetchall()
for i in row:
    print(i)

In [ ]:
from sqlalchemy.sql import select , alias
result = conn.execute(select(student))
for i in result :
    print(i)

In [ ]:
stmt = text("SELECT * FROM student WHERE name between :x and :y")
stmt = stmt.bindparams(
    bindparam("x", type_=String),
    bindparam("y", type_=String)
)
result = conn.execute(stmt, {'x':"P", 'y':"S"}).fetchall()
for i in result:
    print(i)

In [ ]:

result = conn.execute(text("select * from student where name between :x and :y"),{ 'x' : 'P','y': 'Z'} ).fetchall()

In [ ]:
s = select(student).where(or_(student.c.age > 18,student.c.name =="Shreeram"))
result = conn.execute(s).fetchall()
for i in result:
    print(i)

In [ ]:
st = student.alias("a")

s = select(st).where(st.c.id>2)

result = conn.execute(s).fetchall()

for i in result:
    print(i)

In [ ]:
#update values
stmt = student.update().where(student.c.id == 1).values(name='Wills')
conn.execute(stmt)
conn.commit()
result = conn.execute(student.select()).fetchall()
for i in result:
    print(i)

In [ ]:
stmt = student.delete().where(student.c.id == 4)
conn.execute(stmt)
conn.commit()
result = conn.execute(student.select())
for row in result:
    print(row)

In [ ]:
#conn.execute(student.insert().values(name="Shreeram",age=21))
result = conn.execute(student.select())
for i in result:
    print(i)