In [ ]:
from sqlalchemy import create_engine , MetaData , Table , Column , Integer , String , ForeignKey,CheckConstraint ,BigInteger,DateTime

In [ ]:
from sqlalchemy.sql import select , and_ , or_
engine = create_engine('mysql+pymysql://root:1234@localhost/sqlalchemy',echo=True)
meta = MetaData()

In [ ]:

user = Table(
    'user', meta,
    Column('id', Integer, primary_key=True),
    Column('name', String(50)),
    Column('age',Integer)
)
rating = Table(
    'rating' , meta,
    Column('user_id', Integer, ForeignKey('user.id'),primary_key=True),
    Column('rating',Integer,CheckConstraint('rating >= 1 AND rating <= 5',name='check_rating_range'))
)
meta.create_all(engine)

In [ ]:
conn = engine.connect()
conn.begin()

In [ ]:
#conn.execute(rating.insert(),[{'user_id' :1 ,'rating' : 3 },{'user_id' :2 ,'rating' : 5 }])
conn.commit()

In [ ]:
conn.execute(user.insert(),[{'id':3,'name':'Ram', 'age':20},{'id':4,'name':'Shreeram', 'age':21}])
result = conn.execute(user.select()).fetchall()
conn.commit()
for i in result:
    print(i)

In [ ]:
query = select(user,rating).where(user.c.id == rating.c.user_id)
result = conn.execute(query).fetchall()
for i in result:
    print(i)

In [ ]:
from sqlalchemy import  inspect 
get  = inspect(conn)
print(get.get_table_names())
print(meta.reflect(engine))
print(meta.tables)
print(Table('user', meta, autoload_with=engine))

In [ ]:
customer = Table(
    'customer', meta,
    Column('customer_id', BigInteger, primary_key=True),
    Column('first_name', String(50)),
    Column('last_name', String(50)),
    Column('account_id', BigInteger),
    Column('balance',BigInteger,default=0)
    )

trans = Table(
    'trans', meta,
    Column('transaction_id', Integer, primary_key=True),
    Column('account_id',BigInteger),
    Column('amount_debit',BigInteger),
    Column('amount_credit',BigInteger)
    )

meta.create_all(engine)