# Series

In [1]:
import pandas as pd

using list

In [31]:
data = [10,20,30,40,50,60,70,80,90]
df = pd.Series(data,index=range(1,10))
print(df)

1    10
2    20
3    30
4    40
5    50
6    60
7    70
8    80
9    90
dtype: int64

In [32]:
data = ['Shreeram','Shree','Ram','Riya','Sushma','John']
df = pd.Series(data,index=range(1,7),dtype=object)
print(df)

1    Shreeram
2       Shree
3         Ram
4        Riya
5      Sushma
6        John
dtype: object

using dictionary

In [73]:
data = {'name':'shreeram','age':27,'gender':'male','salary':10000}
df = pd.Series(data,dtype=object)
print(df)

name      shreeram
age             27
gender        male
salary       10000
dtype: object

using numpy arrays