In [ ]:
import pandas as pd

In [ ]:
data=pd.read_csv('employee.csv',index_col=0)
# here index_col=0 is used to remove the index_col which is created by default add before the column id and make the column id as index column

In [ ]:

#data.loc[1]
print( data.loc[data['age'].idxmax()])

In [ ]:
df = pd.read_csv('employee1.csv',header=None,names=['id','name','age','gender','salary'],index_col=0)
# here header=None means that the first row is not a header so names=[] are used to name the columns
print(df)

In [ ]:
df = pd.read_csv('employee2.csv',skiprows=1,index_col=0)
print(df)
df=pd.read_csv('employee2.csv',header=1,index_col=0)
# here header=1 means that the first row is the header
print(df)

In [ ]:
import pymysql
def connect():
    connection = pymysql.connect(host='localhost',
                                 user='root',
                                 password='1234',
                                 database='okay',
                                 port=3306)
    df = pd.read_sql_query("select * from student", connection,index_col='roll_no')
    connection.commit() # commit keep the changes permanently in the database
    connection.close()
    topper = df.loc[df['cgpa'].idxmax()]
    print(topper)
connect()

In [ ]:
data.sort_values(by='age',ascending=True)

In [ ]:
data.loc[data['age']>25]

In [ ]:
data1=pd.read_csv('employee.csv',header=1,index_col=0)
data.loc[data['name']=='Riya','gender'] = 'Female'
data.to_csv('employee.csv',index=False)

In [ ]:
data1=pd.read_csv('employee.csv',header=1)
#data.drop('id',axis =1,inplace=True)
#print(data1)
data1.insert(0,'id',range(1,len(data1)+1))
data1.set_index('id',inplace=True)
print(data1)
data1.to_csv('employee.csv',index=True,header=True)

In [ ]:
data = pd.read_csv('names.csv',header=None)
print(data)
data.drop([5,6,7,8],axis=1,inplace=True)
print(data)
data.to_csv('names.csv',index=False,header=False)

In [ ]:
data=pd.read_csv('names.csv',header=0)
print(data)
data = data.astype({'age': 'int64','id': 'int64'})
print(data)
print(data.dtypes)

In [ ]:
data["salary"] = pd.to_numeric(data["salary"], errors="coerce").astype(float)

In [ ]:
data.to_csv('names.csv',index=True,header=True)

In [ ]:
data = pd.read_csv('names.csv',header=0,index_col=0)
print(data)
data.reset_index(inplace=True,drop=True)
print(data)
data.insert(0,'id',range(1,len(data)+1))
data.set_index('id',inplace=True)
print(data)
data.to_csv('names.csv',index=True,header=True)