In [2]:
import pandas as pd

In [ ]:
data=pd.read_csv('employee.csv',index_col=0)
# here index_col=0 is used to remove the index_col which is created by default add before the column id and make the column id as index column

In [ ]:

#data.loc[1]
print( data.loc[data['age'].idxmax()])

In [ ]:
df = pd.read_csv('employee1.csv',header=None,names=['id','name','age','gender','salary'],index_col=0)
# here header=None means that the first row is not a header so names=[] are used to name the columns
print(df)

In [ ]:
df = pd.read_csv('employee2.csv',skiprows=1,index_col=0)
print(df)
df=pd.read_csv('employee2.csv',header=1,index_col=0)
# here header=1 means that the first row is the header
print(df)

In [ ]:
import pymysql
def connect():
    connection = pymysql.connect(host='localhost',
                                 user='root',
                                 password='1234',
                                 database='okay',
                                 port=3306)
    df = pd.read_sql_query("select * from student", connection,index_col='roll_no')
    connection.commit() # commit keep the changes permanently in the database
    connection.close()
    topper = df.loc[df['cgpa'].idxmax()]
    print(topper)
connect()

In [ ]:
data.sort_values(by='age',ascending=True)

In [ ]:
data.loc[data['age']>25]

In [ ]:
data1=pd.read_csv('employee.csv',header=1,index_col=0)
data.loc[data['name']=='Riya','gender'] = 'Female'
data.to_csv('employee.csv',index=False)

In [ ]:
data1=pd.read_csv('employee.csv',header=1)
#data.drop('id',axis =1,inplace=True)
#print(data1)
data1.insert(0,'id',range(1,len(data1)+1))
data1.set_index('id',inplace=True)
print(data1)
data1.to_csv('employee.csv',index=True,header=True)

In [12]:
data = pd.read_csv('names.csv',header=None)
print(data)
data.drop([5,6,7,8],axis=1,inplace=True)
print(data)
data.to_csv('names.csv',index=False,header=False)

     0         1     2         3        4      5   6   7   8
0  2.0     Shree  25.0    Mumbai  10821.0  10629 NaN NaN NaN
1  3.0      John  22.0      Pune  10873.0  10345 NaN NaN NaN
2  4.0  Shreeram  27.0     Delhi  11237.0  11018 NaN NaN NaN
3  5.0       Ram  29.0    Mumbai  11803.0  10978 NaN NaN NaN
4  6.0      Jack  20.0  New York  12000.0  10705 NaN NaN NaN
     0         1     2         3        4
0  2.0     Shree  25.0    Mumbai  10821.0
1  3.0      John  22.0      Pune  10873.0
2  4.0  Shreeram  27.0     Delhi  11237.0
3  5.0       Ram  29.0    Mumbai  11803.0
4  6.0      Jack  20.0  New York  12000.0

In [18]:
data=pd.read_csv('names.csv',index_col=0,header=None)
print(data)

            1     2         3        4
0
id       name   age      city   salary
2.0     Shree  25.0    Mumbai  10821.0
3.0      John  22.0      Pune  10873.0
4.0  Shreeram  27.0     Delhi  11237.0
5.0       Ram  29.0    Mumbai  11803.0
6.0      Jack  20.0  New York  12000.0